@import "tailwindcss";

:root {
  --russian-violet: #372466;
  --medium-slate-blue: #966AFE;
  --night: #0D160B;
  --magnolia: #F9F6FF;
  --timberwolf: #D0D0D0;
}

section h1, article h1, aside h1, nav h1 { @apply text-4xl md:text-5xl; }
section h2, article h2, aside h2, nav h2 { @apply text-2xl md:text-3xl; }

@theme {
  --breakpoint-md: 700px;
  --breakpoint-xl: 1200px;
}

@theme inline {
  --color-main-purple: var(--russian-violet);
  --color-secondary-purple: var(--medium-slate-blue);
  --color-night: var(--night);
  --color-alt-white: var(--magnolia);
  --color-gray-border: var(--timberwolf);

  --font-sora: Sora, sans-serif;
  --font-nunito: Nunito, sans-serif;
}

@keyframes slider-scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

body {
  background: var(--magnolia);
  color: var(--night);
  font-family: var(--font-nunito);
}