@import "tailwindcss";

:root {
  --main-purple: #372466;
  --secondary-purple: #966AFE;
  --black: #0D160B;
  --white: #FFF;
  --white-alt: #F9F6FF;
  --border: #D0D0D0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--white-alt);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}