@import "tailwindcss";

:root {
  --russian-violet: #372466;
  --medium-slate-blue: #966AFE;
  --night: #0D160B;
  --magnolia: #F9F6FF;
  --timberwolf: #D0D0D0;
}

@theme {
  --breakpoint-md: 700px;
  --breakpoint-xl: 1200px;
}

@theme inline {
  --color-main-purple: var(--russian-violet);
  --color-secondary-purple: var(--medium-slate-blue);
  --color-night: var(--night);
  --color-alt-white: var(--magnolia);
  --color-gray-border: var(--timberwolf);

  --font-sora: Sora, sans-serif;
  --font-nunito-sans: Nunito_Sans, sans-serif;
}

body {
  background: var(--magnolia);
  color: var(--night);
  font-family: var(--font-nunito-sans);
}